
    span.icon {
      background: url('../images/googleLogo.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      padding-right: 20px;
    }
